<link rel="stylesheet" type="text/css" href="/style.css"/>
<body>
  <h1> New Message: </h1>
<form action="/" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" size = "16" maxlength = "16">
  <label for="message">Message:</label>
  <input type="text" name="message">
  <input type="submit" value="Submit"/>
</form>
</body>
